<article class="post">
    <div class="title">
        <a href="{{blog_text}}" target="_blank">{{title}}</a>
        <span>({{format_url blog_text}})</span>
    </div>
    <div class="meta">
        by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>